@use "base/variables";
@use "utilities/mixins";
@use "utilities/extend";

@use "base/general";
@use "components/header";
@use "components/botons";
@use "components/footer";

@use "sections/main";

@use "pages/sobremi";
@use "pages/servicios";
@use "pages/trabajos";
@use "pages/contacto";

@use "base/queries";
@use "utilities/mixins";
