@use "/utilities/mixins";
@use "/utilities/extendt";
@use "/base/variables";
@use "/base/generales";
@use "/base/queries";
@use "/components/header";
@use "/components/footer";
@use "/sections/main";
@use "/pages/servicios";
@use "/pages/sobremi";
@use "/pages/trabajos";
@use "/pages/contacto";
