@mixin mq($max) {
  @media (max-width: $max) { @content; }
}

@mixin focus-ring {
  outline: 2px solid rgba(215, 38, 61, 0.7);
  outline-offset: 3px;
}

@mixin container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}
