// NAV responsive + hero + grids usando los mixins

@include respond(tablet) {
  .nav {
    &__toggle {
      display: flex;
    }

    &__list {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      padding: 10px 0;
      border-top: 1px solid var(--border-soft);

      &.active {
        display: flex;
      }
    }

    &__link {
      padding: 10px;
    }
  }

  .contact-section__layout {
    grid-template-columns: 1fr; // formulario a una columna en tablet
  }
}

@include respond(mobile) {
  .hero {
    padding-block: 40px;

    &__text {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 0.95rem;
      }
    }

    &__actions {
      flex-direction: column;
    }
  }

  .grid--3 {
    grid-template-columns: 1fr;
  }

  .container {
    padding-inline: 16px;
  }
}

@include respond(desktop) {

}
