@use "../utilities/mixins" as mx;

@include mx.mq(900px) {
  .grid--3 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@include mx.mq(650px) {
  .grid--2 { grid-template-columns: 1fr; }
  .grid--3 { grid-template-columns: 1fr; }
  .section { padding: 44px 0; }
}
