@use "../utilities/maps" as m;
:root {
  --bg-1: #{map-get(m.$colors, background)};
  --bg-2: #{map-get(m.$colors, secondary)};
  --accent: #{map-get(m.$colors, accent)};
  --accent-soft: rgba(215, 38, 61, 0.25);
  --text: #{map-get(m.$colors, text)};
  --text-muted: #{map-get(m.$colors, muted)};
  --border-soft: #{map-get(m.$colors, border)};

  --radius-sm: #{map-get(m.$radii, sm)};
  --radius-md: #{map-get(m.$radii, md)};
  --radius-lg: #{map-get(m.$radii, lg)};

  --shadow-soft: #{map-get(m.$shadows, soft)};
}
